<div class="table-container">
  <div class="d-flex justify-content-between">
    <h2>Tasks</h2>
    <button class="btn btn-primary mb-2" routerLink="add">Add Task</button>
  </div>
  <table ng-style="{margin-top: '10px'}" *ngIf="tasks.length > 0">
    <thead>
      <tr>        
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let task of tasks">        
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>                        
        <td>
          <button class="btn btn-primary btn-sm" [routerLink]="['edit', task.id]">
            Edit
          </button>
          <button class="btn btn-danger btn-sm ms-2" (click)="deleteTask(task)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="tasks.length == 0">
    <h3 class="text-center">No tasks found</h3>
  </div>
</div>
